.site-info{
  display: flex;
  margin: 80px auto 0 auto;
  justify-content: space-around;
  background-color: black;
  padding: 0 80px;
}
.footer-sections{
  width: 33%;
  padding: 40px;
  color: white;
  
  
  
}
.footer-sections span {
  padding-right: 40px;
  

}
.hour {
  display: flex;
}
.hour span {
  flex:1;
}