/* nav#site-navigation {
  padding: 0px 10px;
  /* background-color: black; */


/* .main-navigation ul li a {
  color: #ffffff;
  padding-right: 30px;
  padding-top: 100px;
  text-transform: uppercase;
}
.my-primary-menu {
  display:none;
}
.logo-holder img {
  width: 30%;
}
span.responsive-menu-box {
  margin-top: 45px;
}


@media screen and (min-width : 768px) and (max-width : 900px)  { 
  nav#site-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: black;
  }
  .my-primary-menu {
    display:none;
  }
  .logo-holder img {
    width: 60%;
  }
  nav#site-navigation {
    padding: 0px 30px;
  }
  
}

@media (min-width : 900px) {
  nav#site-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
  }
  .my-primary-menu {
    display:block;
  }
  button#responsive-menu-button .responsive-menu-box {
    display: none;
  }
  .logo-holder img {
    width: 90%;
  }
  
}

  */
